[submodule "ChatWaveServer"]
	path = ChatWaveServer
	url = https://github.com/xhnya/ChatWaveServer.git
[submodule "chat-wave-win"]
	path = chat-wave-win
	url = https://github.com/xhnya/chat-wave-win.git
[submodule "chat-wave-web"]
	path = chat-wave-web
	url = https://github.com/xhnya/chat-wave-web.git
