[submodule "ChatWaveServer"]
	path = ChatWaveServer
	url = https://github.com/xhnya/ChatWaveServer.git
[submodule "chat-wave-win"]
	path = chat-wave-win
	url = https://github.com/xhnya/chat-wave-win.git
[submodule "chat-wave-web"]
	path = chat-wave-web
	url = https://github.com/xhnya/chat-wave-web.git
[submodule "chat-wave-admin"]
	path = chat-wave-admin
	url = https://github.com/xhnya/chat-wave-admin.git
[submodule "chat_wave_flutter"]
	path = chat_wave_flutter
	url = https://github.com/xhnya/chat_wave_flutter.git
